/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/07/2019, 00:07:29
    Author     : haguilerts
*/

*{ /** reset*/
	margin: 0; /** espacio del contenedor hacia afuera*/
	padding: 0; /** espacio del contenedor interor*/
}
body{
	 width:500px; 
	 margin: auto;

	 background-image: url("img/shopping1.jpg"); /** **/
	 background-size: cover; /** ajusata la pantalla pero te mobes con la foto**/
         background-attachment: fixed; /** hace q la imagen no se mueva junto con las letras, cuando deslizamos para abajo o arriba*/
         background-repeat: no-repeat; /** hace q no se repita las imagens simultanias**/
}
    h2{
        color: blue; 
        font-family: arial;  /** tipo de letra **/
        font-size: 2em;
        font-style: italic; 
    }
    header{
            height:300px;
            background-color: red;

             background-image: url("img/header.jpg");
    }
    #s1{
        height: 250px;
        width: 250px;
        background-image: url("img/c1.jpg");
        float: left;
    }
    #s2{
        height: 250px;
        width: 250px;
        background-image: url("img/c2.jpg");
        margin-left:250px;
        
    }
    nav{
            height:80px;
            background-color: yellow;
    }
    section{
            height:80px;
            background-color: blue;
    }
    footer{
            height:80px;
            background-color: green;
    }
    aside{
            height:80px;
            background-color: orange;
    }
    input{
         height:30px;
         width: 100px;     
    }
    #c1{
        margin: 220px 100px  ;
    }
    

