

body{
	background-color: gold ; /** color de fondo : green **/ 

	background-image: url("img/shopping1.jpg"); /** **/
	background-size: cover; /** ajusata la pantalla pero te mueves con la foto**/
	background-attachment: fixed; /** hace q la imagen no se mueva junto con las letras, cuando deslizamos para abajo o arriba*/
	background-repeat: no-repeat; /** hace q no se repita las imagens simultanias**/
        
}
h1{ /** h1 pertenece al los titulos **/
	color: yellow;  /** # 6200ee**/
          font-size: 3em; /** 16 pixel=1em -- es tamaño de letra**/
          font-style: normal; /**tipo de letra a 90°**/
          font-variant: small-caps; /** la primera palabra lo combierte en malluscula**/

          background-color: blue ; /** color de fondo : green **/ 
}